<app-template-header></app-template-header>
<div class="list-view">
<h4 (click)="todoShow = !todoShow">Offen <span> {{todoList.length}} </span></h4>
  <div *ngIf="todoShow" class="todo-elements">
    <app-template-todo (ping)="update($event)" [todo]="todo" *ngFor="let todo of todoList"></app-template-todo>
  </div>
  <app-template-todo-form></app-template-todo-form>
  <h4 (click)="todoShow2 = !todoShow2">Erledigt <span> {{todoDoneList.length}} </span></h4>
  <div *ngIf="todoShow2" class="todo-elements">
    <app-template-todo (ping)="update($event)" [todo]="todoDone" *ngFor="let todoDone of todoDoneList"></app-template-todo>
  </div>
</div>
