<div class="todo" [class.done]="todo.status">
  <div class="todo-content">
      <div class="handle"></div>
      <div (click)="changeCheck()" class="todo-content-check">
          <img *ngIf="todo.status==false"  src="./assets/svg/checkbox-empty.svg">
          <img *ngIf="todo.status==true"  src="./assets/svg/checkbox-done.svg">
      </div>
      <div class="todo-content-titel">
      <input type="text" [(ngModel)]="todo.label" placeholder="Name des ToDo-Punktes" (blur)="writeConsole()" />
      </div>
  </div>
  <div (click)="doDelete()" class="delete">
      <span>Löschen</span>
  </div>
</div>
