<div class="todo-form">
  <div class="todo-content">
      <input type="text" [(ngModel)]="todo.label" placeholder="Name des ToDo-Punktes">
  </div>
  <div class="create" (click)="createTodo()">
      <span>Erstellen</span>
  </div>
</div>